<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <header>
      <h1>Header</h1>
    </header>
    <!-- vamos a poner un main -->
    <main>
      <!-- Los aside son los menu verticales -->
      <aside>
        <h1>Aside</h1>
      </aside>
      <div class="container">
        <h1>Article</h1>
        <div>
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
        </div>
      </div>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
  </body>
</html>
